<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="2 seconds">

  <springProfile name="default | dev | qa | stg | prod">
    <springProperty name="team" source="spring.application.team"/>
    <springProperty name="application" source="spring.application.name"/>
    <springProperty name="environment" source="spring.profiles.active"/>

<!--    <appender name="gelfDriver" class="ch.qos.logback.core.ConsoleAppender">-->
<!--      <encoder class="net.logstash.logback.encoder.LogstashEncoder">-->
<!--        <includeContext>false</includeContext>-->
<!--        <customFields>-->
<!--          {"team": "${team}",-->
<!--          "application": "${application}",-->
<!--          "environment": "${environment}"}-->
<!--        </customFields>-->
<!--      </encoder>-->
<!--    </appender>-->

    <appender name="stash" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
      <destination>127.0.0.1:50000</destination>
      <encoder class="net.logstash.logback.encoder.LogstashEncoder">
        <includeContext>false</includeContext>
        <customFields>
          {"team": "${team}",
          "application": "${application}",
          "environment": "${environment}"}
        </customFields>
      </encoder>
    </appender>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
      <encoder>
        <pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] slf4j%X{context} - %X - ${PID} %5p [%t] --- %c{1}: %m%n
        </pattern>
      </encoder>
    </appender>

    <root level="INFO">
<!--      <appender-ref ref="gelfDriver"/>-->
      <appender-ref ref="stash"/>
      <appender-ref ref="console"/>
    </root>
  </springProfile>

  <springProfile name="default">
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
      <encoder>
        <pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] slf4j%X{context} - %X - ${PID} %5p [%t] --- %c{1}: %m%n
        </pattern>
      </encoder>
    </appender>

    <root level="INFO">
      <appender-ref ref="console"/>
    </root>
  </springProfile>

</configuration>
